@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgba(0, 0, 0);
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;

  /* overflow-y: hidden; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* -webkit-text-size-adjust: 100%; */
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}
